.contact-section {
  height: 87vh;
  background-color: red;
}

.contact-content {
  margin: 0 auto;
  width: 70%;

}


.contact-text {
  background-color: purple;
  padding: 20px;
}

.contact-map {
  background-color: bisque;
  padding: 20px;
}