.site-footer {
    background-color: #222;
    color: #ddd;
    padding: 50px 0 20px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 17px;
    padding-left: 0px;
    display: flex;
}

.footer-container {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    flex: 1 1 0%;
}

.footer-content {
    padding-top: 18px;
    padding-right: 0px;
    padding-bottom: 14px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
}


.footer-section {
    min-width: 0;
    background-color: #c95151;
    color: #ddd;
    padding: 50px 0 20px;
    width: 100%;
}

.footer-social {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: static;
}

.footer-logo {
    
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 0.95rem;
}

.contact-icon {
    flex-shrink: 0;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding-top: 8px;

}

.footer-copyright {
    color: #9ca3af;
    font-size: 0.9rem;
    margin: 0;
}

.social-link img {
    transition: filter 0.3s ease;
}

.social-link:hover img {
    filter: brightness(0) invert(1);
}