.site-footer {
    background-color: #222;
    color: #ddd;
    padding-bottom: 1rem;
}

.footer-content {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 6rem;
}


.footer-section {
    color: #c7c7c7;
    padding: 1rem 0 1rem;
    width: 100%;
}

.footer-social {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: static;
}


.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.2rem;
}




.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding-top: 8px;

}

.footer-copyright {
    color: #9ca3af;
    font-size: 0.9rem;
    margin: 0;
}

.footer-logo {
    display: flex;
}

.footer-logo img {
    margin: 0 auto;
}
.social-link{
    font-size:  1.1em;
}
.social-link,
.contact-item > a {
    color: #a4a4a4; /* base color */
    transition: color 0.3s ease;
}

.contact-item > a:hover {
    color: rgb(244, 244, 244); /* your current */
}

/* Facebook */
#footer-facebook:hover {
    color: #1877F2; /* Facebook blue */
}

/* LinkedIn */
#footer-linkedin:hover {
    color: #0A66C2; /* LinkedIn blue */
}

/* YouTube */
#footer-youtube:hover {
    color: #FF0000; /* YouTube red */
}
