.hero {
    position: relative;
    width: 100%;
    height: 87vh;
    /* Full screen height */
    overflow: hidden;
}

.hero-slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.hero-slide {
    min-width: 100%;
    height: 100%;
    /* Make sure slide fills the hero */
    position: relative;
    /* <- Important! Anchor absolute children */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    overflow: hidden;
}

.hero-slide img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-blur {
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--blur-width, 33.33%);
    /* 1/3rd */
    left: var(--blur-position, 0);
    /* 1/3rd */

    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    color: #fff;
    transition: left 0.3s ease;
}