@import 'colors';
@import "nav";
@import "footer";

body {
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  background-color: rgb(255, 255, 255);
  line-height: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 75%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 12%;
  background-color: $nav-text;
  transition: transform 0.15s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
}

.hover-underline-animation.left::after {
  transform-origin: bottom right;
}

.hover-underline-animation.left:hover::after {
  transform-origin: bottom left;
}

.hover-underline-animation.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
  transform-origin: bottom center;
}

.hover-underline-animation.right::after {
  transform-origin: bottom left;
}

.hover-underline-animation.right:hover::after {
  transform-origin: bottom right;
}

/* Keep underline for active link */
.hover-underline-animation.active::after {
  transform: scaleX(1);
  transition: none;
  /* no animation for active */
}

/* Optional: make sure transform-origin matches alignment */
.hover-underline-animation.active.left::after {
  transform-origin: bottom left;
}

.hover-underline-animation.active.center::after {
  transform-origin: bottom center;
}

.hover-underline-animation.active.right::after {
  transform-origin: bottom right;
}