body {
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  background-color: rgb(255, 255, 255);
  line-height: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  min-height: 50px;
  height: 13vh;
  width: 100%;

  // background: linear-gradient(128deg, rgba(242, 242, 242, 1) 0%, rgba(255, 245, 245, 1) 36%, rgba(249, 233, 217, 1) 100%);
  // background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  background: red;
  // background: linear-gradient(180deg,rgba(231, 71, 83, 1) 0%, rgba(232, 134, 132, 1) 93%);
  // background: #752db8;
  // background: linear-gradient(160deg,rgba(117, 45, 184, 1) 0%, rgba(232, 134, 132, 1) 100%);
  // background: linear-gradient(160deg,rgba(117, 45, 184, 1) 0%, rgba(93, 170, 86, 1) 46%, rgba(232, 134, 132, 1) 100%);
  // background: linear-gradient(160deg,rgba(0, 255, 255, 1) 0%, rgba(255, 0, 2
  // background: linear-gradient(160deg,rgba(0, 255, 255, 0.8) 0%, rgba(255, 0, 255, 0.8) 46%, rgba(255, 255, 0, 0.8) 100%);
  // background: linear-gradient(152deg,rgba(0, 255, 255, 1) 14%, rgba(255, 0, 255, 1) 50%, rgba(255, 255, 0, 0.71) 100%);
  // background: linear-gradient(152deg,rgba(0, 255, 255, 0.85) 0%, rgba(144, 0, 255, 0.85) 84%);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 10;

}

.navbar-cnt {
  min-width: 300p;
  margin: 0 auto;
  width: 65%;
  height: 90%;
  display: flex;
  justify-content: space-between;

}


.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo-2 {
  height: 70%;

  img {

    height: 100%;
    width: auto;
    cursor: pointer;
  }
}

.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu-links {
  border-radius: .9em;
  padding: 1em;
  display: flex;
  color: rgba(0, 0, 0, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;


  font-size: 0.9em;
}

.navbar-menu-links a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5em;
}

.navbar-menu-links a:not(:first-child) {
  border-left: 2px solid rgb(95, 95, 95);
}

.hover-underline {
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.hover-underline:hover {
  color: rgb(255, 239, 220);
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 25px;
  background: linear-gradient(to right, #e41313, #0084ff);
  bottom: -5px;
  left: 10%;
  transform: scaleX(0);
  transform-origin: right;
  z-index: -1;
  transition: transform 0.3s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}


.navbar-burger {
  margin: 10px 0;
  width: 45px;
  padding: 5px 10px;
  display: none;
  float: right;
  cursor: pointer;
}

.navbar-burger-line {
  padding: 1px;
  background-color: white;
  margin: 5px 0;
}


.site-footer {
  background-color: #222;
  color: #ddd;
  padding-bottom: 1rem;
}

.footer-content {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 6rem;
}


.footer-section {
  color: #c7c7c7;
  padding: 1rem 0 1rem;
  width: 100%;
}

.footer-social {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  position: static;
}


.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.2rem;
}

.footer-bottom {
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-top: 8px;

}

.footer-copyright {
  color: #9ca3af;
  font-size: 0.9rem;
  margin: 0;
}

.footer-logo {
  display: flex;
}
.footer-logo > img{
  width: 70%;
}

.footer-logo img {
  margin: 0 auto;
}

.social-link {
  font-size: 1.1em;
}

.social-link,
.contact-item>a {
  color: #a4a4a4;
  /* base color */
  transition: color 0.3s ease;
}

.contact-item>a:hover {
  color: rgb(244, 244, 244);
  /* your current */
}

/* Facebook */
#footer-facebook:hover {
  color: #1877F2;
  /* Facebook blue */
}

/* LinkedIn */
#footer-linkedin:hover {
  color: #0A66C2;
  /* LinkedIn blue */
}

/* YouTube */
#footer-youtube:hover {
  color: #FF0000;
  /* YouTube red */
}