.navbar {
    min-height: 50px;
    height: 13vh;
    width: 100%;

    // background: linear-gradient(128deg, rgba(242, 242, 242, 1) 0%, rgba(255, 245, 245, 1) 36%, rgba(249, 233, 217, 1) 100%);
    // background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background: $primary;
    // background: linear-gradient(180deg,rgba(231, 71, 83, 1) 0%, rgba(232, 134, 132, 1) 93%);
    // background: #752db8;
    // background: linear-gradient(160deg,rgba(117, 45, 184, 1) 0%, rgba(232, 134, 132, 1) 100%);
    // background: linear-gradient(160deg,rgba(117, 45, 184, 1) 0%, rgba(93, 170, 86, 1) 46%, rgba(232, 134, 132, 1) 100%);
    // background: linear-gradient(160deg,rgba(0, 255, 255, 1) 0%, rgba(255, 0, 2
    // background: linear-gradient(160deg,rgba(0, 255, 255, 0.8) 0%, rgba(255, 0, 255, 0.8) 46%, rgba(255, 255, 0, 0.8) 100%);
    // background: linear-gradient(152deg,rgba(0, 255, 255, 1) 14%, rgba(255, 0, 255, 1) 50%, rgba(255, 255, 0, 0.71) 100%);
    // background: linear-gradient(152deg,rgba(0, 255, 255, 0.85) 0%, rgba(144, 0, 255, 0.85) 84%);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 10;

}

.navbar-cnt {
    min-width: 300p;
    margin: 0 auto;
    width: 65%;
    height: 90%;
    display: flex;
    justify-content: space-between;

}


.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo-2 {
    height: 70%;

    img {

        height: 100%;
        width: auto;
        cursor: pointer;
    }
}

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu-links {
    border-radius: .9em;
    padding: 1em;
    display: flex;
    color: rgba(0, 0, 0, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;


    font-size: 0.9em;
    // gap: 5em;
}

.navbar-menu-links a {
    text-decoration: none;
    color: $nav-text;
    padding: 0 1.5em;
}

.navbar-menu-links a:not(:first-child) {
    border-left: 2px solid rgb(95, 95, 95);
    /* line color */
    //   padding-left: 0em; /* space after line */
}

.hover-underline {
    // color: #ffffff;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.hover-underline:hover {
    color: rgb(255, 239, 220);
    /* target color on hover */
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 25px;
    background: linear-gradient(to right, #e41313, #0084ff);
    bottom: -5px;
    left: 10%;
    transform: scaleX(0);
    transform-origin: right;
    z-index: -1;
    transition: transform 0.3s ease-out;
}

.hover-underline::before {
    top: -5px;
    transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}


.navbar-burger {
    margin: 10px 0;
    width: 45px;
    padding: 5px 10px;
    display: none;
    float: right;
    cursor: pointer;
}

.navbar-burger-line {
    padding: 1px;
    background-color: white;
    margin: 5px 0;
}