{{ define "main" }}
<section class="contact-section">
    <div class="contact-content">
        <div class="contact-direct-details">
            <div class="contact-detail">
                <img src="https://api.iconify.design/mdi:email-outline.svg?color=%23ffffff&width=20&height=20"
                    alt="Email" class="contact-icon" />
                <span>info@roboticsassoc.edu</span>
            </div>
            <div class="contact-detail">
                Zapraszamy na naszego FB
            </div>
        </div>
        <div class="contact-board-details">
            
        </div>
        <div class="contact-map-container">
            <div class="contact-address">
                <ul>
                    <li>Laboratorium 012 </li>
                    <li>Wydział Elektroniki i Technik Informacyjnych PW</li>
                    <li>Nowowiejska 15/19, Warszawa</li>
                </ul>
            </div>
            <div class="contact-map">
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://www.openstreetmap.org/export/embed.html?bbox=21.007619%2C52.217172%2C21.01616%2C52.22136&amp;layer=mapnik&amp;marker=52.21895%2C21.01117">
                </iframe>
                <br />
                <small>
                    <a href="https://www.openstreetmap.org/?mlat=52.21895&amp;mlon=21.01117#map=16/52.21895/21.01117"
                        target="_blank">
                        Wyświetl większą mapę
                    </a>
                </small>
            </div>
        </div>
    </div>
</section>
{{end}}

{{/* <div class="contact-content">
    <div class="contact-text">
        <h1 class="contact-content-header">Kontakt</h1>
        <div class="contact-item">
            <img src="https://api.iconify.design/mdi:email-outline.svg?color=%23ffffff&width=20&height=20" alt="Email"
                class="contact-icon" />
            <span>info@roboticsassoc.edu</span>
        </div>
        <div class="contact-item">

        </div>
        <div class="contact-item">

        </div>
        <div class="contact-item">
            <div class="contact-item">
                <img src="https://api.iconify.design/mdi:map-marker-outline.svg?color=%23ffffff&width=20&height=20"
                    alt="Location" class="contact-icon" />
                <span>Engineering Building, Room 301</span>
            </div>
        </div>
    </div>
    <div class="contact-map">
        <h1 class="contact-map-header">Gdzie można nas znaleźć</h1>
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://www.openstreetmap.org/export/embed.html?bbox=21.007619%2C52.217172%2C21.01616%2C52.22136&amp;layer=mapnik&amp;marker=52.21895%2C21.01117">
        </iframe>
        <br />
        <small>
            <a href="https://www.openstreetmap.org/?mlat=52.21895&amp;mlon=21.01117#map=16/52.21895/21.01117"
                target="_blank">
                Wyświetl większą mapę
            </a>
        </small>

    </div>
</div> */}}