{{ define "main" }}
<section class="contact-section">
    <div class="contact-content">
        <div class="contact-list">
            <strong>Kontakt</strong>
            <div class="contact-detail link-hover" id="contact-email">
                <a href="mailto:{{ .Site.Params.email }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z" />
                    </svg>
                    <span>{{ .Site.Params.email }}</span>
                </a>

            </div>
            <div class="contact-detail link-hover" id="contact-facebook">
                <a href="#">Facebook</a>
            </div>
        </div>
    </div>
    <div class="contact-map-address">
        <div class="contact-address">
            <strong>Adres:</strong>
            <br>

            <a href="#">Politechnika Warszawska
                <br>
                Laboratorium 012

                <br>
                Wydział Elektroniki i Technik Informacyjnych
                <br>
                ul. Nowowiejska 15/19 00-665, Warszawa</a>
        </div>
        <div class="contact-map">
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.openstreetmap.org/export/embed.html?bbox=21.007619%2C52.217172%2C21.01616%2C52.22136&amp;layer=mapnik&amp;marker=52.21895%2C21.01117">
            </iframe>
            <br />
            <small>
                <a href="https://www.openstreetmap.org/?mlat=52.21895&amp;mlon=21.01117#map=16/52.21895/21.01117"
                    target="_blank">
                    Wyświetl większą mapę
                </a>
            </small>
        </div>
    </div>
</section>
{{end}}