{{ define "main" }}

{{partial "hero.html"}}

<section class="about-section">
  <div class="about-container">
    <h2 class="about-title">O nas</h2>
    <div class="about-content">
      <div class="about-text">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

<section class="projects-section">
  <div class="projects-container">
    <h2 class="projects-title">Projekty</h2>
    <div class="projects-grid">
      {{ range where .Site.RegularPages "Section" "projects" }}
      {{ if .Params.main_site }}
      {{ partial "project_card.html" . }}
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>

<section class="board-section">
  <div class="board-container" >
    <h2 class="board-title">Zarząd</h2>
    <div class="board-grid">
      {{ range site.Data.board_info }}
      {{ partial "board_card.html" . }}
      {{ end }}
    </div>
  </div>
</section>

{{ end }}