<nav>
  <div class="nav-content">
    <div class="logo">
      <a href="/"><img src="/images/logo_color.svg" alt="logo" /></a>
    </div>

    <div class="spacer"></div>

    <div class="nav-right">
      <div class="links">
        <ul>
          <li><a href="/">Strona główna</a></li>
          <li><a href="/projects/">Projekty</a></li>
          <li><a href="/contact/">Kontakt</a></li>
        </ul>
      </div>

      <div class="pill-wrapper">
        {{ partial "lab_status.html" (dict "href" "/projects/" "text" "Zobacz " "hoverText" "Jazda!") }}
      </div>
    </div>
  </div>
</nav>
