<!-- <section class="hero">
    <div class="hero-slider" id="slides">
        {{ range site.Data.hero_design }}
        <div class="hero-slide">
            <img src="{{ .image | relURL }}" alt="{{.image}}" loading="lazy" />
            <div class="hero-blur" style="--blur-width: {{.blur_width}}%;--blur-position: {{.blur_position}}%;">
                <div class="hero-slide-content">
                    <h1>{{.header}}</h1>
                    <p>{{.subtext}}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</section> -->

<section class="hero">
    <div class="hero-content">
        <img src="{{ "images/hero/random-image2.jpeg" | relURL }}" alt="" class="hero-image">
        <div class="hero-blur">
            <p class="hero-text">
                Lorem ipsum kurde ten 
                <br>
                <small>assan is reture</small>
            </p>
        </div>

    </div>
</section>