<div id="inn2w" class="navbar">
    <div data-gjs="navbar" id="i3tu9" class="navbar-cnt">
        <img id="ijzc6"
            src="https://cdn.grapesjs.com/workspaces/cmeqye03r1ccvpvy6md2vewkn/assets/2b5f3abc-4abc-4d9b-9d48-eeecfffcaa85__logolinecolor.svg" />
        <div id="i5lfi" class="navbar-menu-toggle">
            <div data-type-icon id="isvbn" class="gjs-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"></path>
                </svg>
            </div>
        </div>
        <div data-gjs="navbar-items" class="navbar-items-c" id="ifzn6z">
            <nav id="ia0l6" class="navbar-menu-nav">
                <a id="ise6l" href="/">Strona główna</a>
                <a id="i63ck" href="/about">Projekty</a>
                <a id="iwos7" href="/contact">Kontakt</a>
            </nav>
        </div>
    </div>
</div>