<div class="navbar">
    <div class="navbar-cnt">
        <div class="navbar-logo">
            <a href="/">
                <img src="/images/logo/logo_line_color.svg" />
            </a>
        </div>
        {{/* <div class="navbar-menu-toggle">
            <div data-type-icon id="isvbn" class="gjs-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"></path>
                </svg>
            </div>
        </div> */}}
        <div class="navbar-items">
            <nav class="navbar-menu-links">
                <a href="/">Strona główna</a>
                <a href="/projects">Projekty</a>
                <a href="/contact">Kontakt</a>
            </nav>
        </div>
    </div>
</div>